<h1 class="title">News Aggregator</h1>
<% @news.each do |news| %>
  <div class="new">
    <h2 class="news-title"><%= news.title %></h1>

    <span class="description"><%= news.description %></span>

    <a href="<%= news.link %>" target="_blank" class="link-to-news">See more</a>

    <span>Update at: <%= l news.created_at, format: :short %></span>
  </div>
<% end %>
