.new{
  margin-bottom: 30px;
  padding: 15px;
  border-bottom: 2px solid #fff;
}

.title {
  text-align: center;
}

.news-title{
  display: block;
  font-size: 20px;
}

.description{
  display: block;
  margin-bottom: 15px;
}

.link-to-news{
  display: block;
  margin-bottom: 15px;  
  color: #000;
}

body {
  background-color: #e6e6e6;
}
